@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

#body {
  background: #dcfced;
}

#menu {
  border:none;
  padding-top: 2rem;
}

#brand {
  font-size: 30px;
  font-family: 'Candal', sans-serif;
}

#homepage {
  padding-top: 6rem;
}

#aboutme {
  padding-top: 3rem;
}

#contact {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contactform {
  display:flex;
	justify-content: left;
  padding-top: 2rem;
}

#contacttext {
  display:flex;
	justify-content: right;
  text-align: center;
}

#contactform .form {
  width: 95%;
}

#contactform .form input{
  border: 1px solid black;
}

#contactform .form textarea {
  border: 1px solid black;
}

#contactform .form button{
  border: 1px solid black;
  background: white;
  color: black;
}

#doodle {
  display: inline-block;
  position: relative;
  text-align: center;
}

#doodle img{
  width: 95%;
}

#aboutpic {
  margin-top: 2rem;
  height: 25rem;
  background-image: url("./components/konrad-weber-L1n9zASYDUs-unsplash.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
}
