@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

#body {
  background: #dcfced;
}

#menu {
  border:none;
  padding-top: 2rem;
}

#menu a {
  display: flex;
  justify-content: center;
  text-align: center;
}

#brand {
  font-size: 30px;
  font-family: 'Candal', sans-serif;
}

#homepage {
  padding-top: 6rem;
}

#aboutme {
  padding-top: 6rem;
}

#aboutme p {
  font-size: 17px;
  font-family: 'Rokkitt', serif;
}

#aboutme p span {
  font-size: 28px;
  font-weight: bolder;
}

#contact {
  padding-top: 6rem;
}

#contactform {
  display:flex;
	justify-content: left;
  padding-top: 2rem;
}

#contacttext {
  display:flex;
	justify-content: right;
  text-align: center;
}

#contactform .form {
  width: 95%;
}

#contactform .form input{
  border: 1px solid black;
}

#contactform .form textarea {
  border: 1px solid black;
}

#contactform .form button{
  border: 1px solid black;
  background: white;
  color: black;
}

#doodle {
  display: inline-block;
  position: relative;
  text-align: center;
}

#doodle img{
  width: 95%;
}

#aboutmepic img {
  max-width: 20rem;
  margin-right: 2rem;
  height: 28rem;
}

#aboutmepic p {
  margin-top: 1rem;
}

#aboutmepic {
  margin-top: 2rem;
}

#project {
  padding-top: 6rem;
}

#blog {
  padding-top: 6rem;
}

#blog .accordion {
  border: none;
  padding-top: 1.5rem;
}

#blogcontent {
  padding: 1rem;
  padding-left: 2rem;
  font-family: 'Rokkitt', serif;
  font-size: larger;
}

#blogcontent img{
  max-width:100% !important;
}

#blogarticle .title {
  text-align: center;
}

#blogarticle h1 {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=dcd1eb);
        margin: -2px -6px;
        padding:  2px  6px;
  font-family: 'Russo One', sans-serif;
  font-size: 30px;
}